option_settings:
  aws:elasticbeanstalk:command:
    Timeout: '3600'

  # 環境変数
  aws:elasticbeanstalk:application:environment:
    DB_USER: user
    DB_HOST: db-host
    DB_PASSWORD: password

  # デフォルトのプロセス
  aws:elasticbeanstalk:environment:process:default:
    Port: '80'
    HealthCheckPath: /healthcheck.html
    Protocol: HTTP
    MatcherHTTPCode: '200'

  # デフォルトのリスナー
  aws:elbv2:listener:default:
    ListenerEnabled: true
    DefaultProcess: default
    Protocol: HTTP

  # 環境アーキテクチャとサービスロール
  aws:elasticbeanstalk:environment:
    EnvironmentType: LoadBalanced
    LoadBalancerType: application

  # EC2インスタンスの環境設定
  aws:autoscaling:launchconfiguration:
    EC2KeyName: aws-eb
